.alacrity-container{
    font-size: var(--font-size);
    align-items: center;
    justify-content: center;
    line-height: var(--line-height);
}

.alacrity-banner-container{
    background-color: #9056B4;
}

.alacrity-banner{
    line-height: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}

.alacrity-banner-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.alacrity-banner img{
    height: auto;
    max-height: 650px;
    width: auto;
    max-width: 650px;
}

.alacrity-inspo-container{
    background: var(--alacrity-colour1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.alacrity-inspo{
    max-width: var(--max-width);
    display: flex;
    margin: var(--margin);
    align-items: center;
    justify-content: center;
}

.alacrity-inspo-column{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.alacrity-title{
    font-size: var(--title-size);
    margin-bottom: var(--title-margin-bottom);
}

.alacrity-inspo-img img{
    height: auto;
    max-height: 550px;
    width: auto;
    max-width: 500px;
    padding-left: 30px;
}

.alacrity-inspo-banner p{
    margin: 10px;
}

.alacrity-desc-container{
    background: var(--alacrity-colour2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.alacrity-desc{
    margin: var(--margin);
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
}

.alacrity-desc-container-column{
    display: flex;
    flex-direction: row;
}

.alacrity-desc-container-desc1{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.alacrity-desc-desc1{
    margin-top: 20px;
    margin-right: 20px;
}

.alacrity-desc-desc1-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.alacrity-desc-desc1-img img{
    height: auto;
    max-height: 450px;
    width: auto;
    max-width: 500px;
    padding-left: 50px;
}

.alacrity-desc-container-desc2{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.alacrity-desc-desc2-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.alacrity-desc-desc2-img img{
    height: auto;
    max-height: 450px;
    width: auto;
    max-width: 500px;
    padding-right: 50px;
}

.alacrity-tech-container{
    background-color: var(--alacrity-colour3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.alacrity-tech{
    max-width: var(--max-width);
    margin: var(--margin);
    display: flex;
    justify-content: center;
    align-items: center;
}

.alacrity-tech-column{
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.alacrity-tech-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.alacrity-tech-desc{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    justify-content: flex-start;
    align-items: flex-start;
}

.alacrity-tech-front{
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.alacrity-tech-back{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.alacrity-tech-label{
    width: 253px;
    height: 45px;
    background: var(--alacrity-label);
    border-radius: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}


//Smaller screens adapt