.alacrity-container{
    align-items: center;
    justify-content: center;
}

.alacrity-banner-container{
    background-color: #9056B4;
}

.alacrity-banner{
    line-height: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}

.alacrity-banner-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.alacrity-banner img{
    height: auto;
    max-height: 650px;
    width: auto;
    max-width: 650px;
}

.alacrity-inspo-container{
    background: var(--alacrity-colour1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.alacrity-inspo{
    max-width: var(--max-width);
    display: flex;
    margin: var(--margin);
    align-items: center;
    justify-content: center;
}

.alacrity-inspo-column{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.alacrity-title{
    font-size: var(--title-size);
    margin-bottom: var(--title-margin-bottom);
}

.alacrity-inspo-img img{
    height: auto;
    max-height: 550px;
    width: auto;
    max-width: 500px;
    padding-left: 30px;
}

.alacrity-inspo-banner p{
    margin: 10px;
}

.alacrity-desc-container{
    background: var(--alacrity-colour2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.alacrity-desc{
    margin: var(--margin);
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
}

.alacrity-desc-container-column{
    display: flex;
    flex-direction: row;
    //align-items: center;
    justify-content: center;
}

.alacrity-desc-container-desc1{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alacrity-desc-desc1{
    margin-top: 20px;
    margin-right: 20px;
}

.alacrity-desc-desc1-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.alacrity-desc-desc1-img img{
    height: auto;
    max-height: 450px;
    width: auto;
    max-width: 500px;
    padding-left: 50px;
}

.alacrity-desc-container-desc2{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.alacrity-desc-desc2-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.alacrity-desc-desc2-img img{
    height: auto;
    max-height: 450px;
    width: auto;
    max-width: 500px;
    padding-right: 50px;
}

//Smaller screens adapt

//1320
@media screen and (max-width: 1320px) {
    .alacrity-inspo-column{
        margin-right: 10px;
    }

    .alacrity-inspo-img img{
        padding-left: 15px;
    }

    .alacrity-desc-desc1-img img{
        max-height: 400px;
        max-width: 400px;
        padding: 10px;
    }

    .alacrity-desc-desc1{
        margin-left: 0px;
    }

    .alacrity-desc-desc2{
        margin-right: 0px;
    }

    .alacrity-title{
        line-height: normal;
    }

    .alacrity-desc-desc2-img img{
        max-height: 400px;
        max-width: 400px;
    }
}

@media screen and (max-width: 1060px) {
    .alacrity-inspo-column{
        margin-right: 10px;
    }

    .alacrity-inspo-img img{
        width: auto;
        height: auto;
        max-height: 300px;
        max-width: 300px;
        padding-left: 20px;
    }

    .alacrity-desc-desc1-img img{
        max-height: 300px;
        max-width: 350px;
        padding: 10px;
    }

    .alacrity-desc-desc1{
        margin-right: 0px;
    }

    .alacrity-desc-desc2-img img{
        max-height: 300px;
        max-width: 350px;
        padding: 10px;
    }

    .alacrity-desc2-desc1{
        margin-left: 0px;
    }

    .alacrity-desc-container-desc2{
        margin-left: 20px;
    }
}

//900
@media screen and (max-width: 900px) {
    .alacrity-banner{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .alacrity-banner img{
        max-height: 460px;
        max-width: 460px;
        padding-right: 0px;
    }

    .alacrity-inspo{
        flex-direction: column;
        text-align: center;
    }

    .alacrity-inspo-column{
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        align-items: center;
        justify-content: center;
    }

    .alacrity-inspo-img{
        margin: 0px;
        margin-top: 30px;
    }

    .alacrity-inspo-img img{
        padding-left: 0px;
        max-height: 400px;
        max-width: 450px;
    }

    .alacrity-desc-container{
        flex-direction: column;
    }

    .alacrity-desc{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .alacrity-desc-container-column{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .alacrity-desc-container-desc1{
        width: 100%;
        flex-direction: column;
        margin: 0px;
    }

    .alacrity-desc-desc1-img{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .alacrity-desc-desc1-img img{
        max-height: 400px;
        max-width: 400px;
    }


    .alacrity-desc-desc1{
        margin-left: 0px;
    }

    .alacrity-desc-container-desc2{
        width: 100%;
        flex-direction: column-reverse;
        margin-bottom: 0px;
        margin: 0px;
    }

    .alacrity-desc-desc2-img{
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .alacrity-desc-desc2-img img{
        max-height: 400px;
        max-width: 400px;
    }
}

//600
@media screen and (max-width: 600px) {
    .alacrity-banner{
        align-items: center;
        justify-content: center;
    }

    .alacrity-banner img{
        max-height: 300px;
        max-width: 300px;
        padding-right: 0px;
    }

    .alacrity-inspo{
        flex-direction: column;
        text-align: center;
    }

    .alacrity-inspo-img img{
        max-height: 300px;
        max-width: 300px;
        padding-left: 0px;
        margin-top: 10px;
    }

    .alacrity-inspo-column{
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        align-items: center;
        justify-content: center;
    }

    .alacrity-desc{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .alacrity-desc-container-column{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .alacrity-desc-container-desc1{
        width: 100%;
        flex-direction: column;
        margin: 0px;
    }

    .alacrity-desc-desc1-img{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .alacrity-desc-desc1-img img{
        max-height: 300px;
        max-width: 300px;
    }

    .alacrity-desc-desc1{
        margin-left: 0px;
    }

    .alacrity-desc-container-desc2{
        width: 100%;
        flex-direction: column-reverse;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .alacrity-desc-desc2-img{
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .alacrity-desc-desc2-img img{
        max-height: 300px;
        max-width: 300px;
    }
}