.chessmate-container{
    display: block;
}

.chessmate-banner-container{
    background-color: #EBECD1;
}

.chessmate-banner{
    line-height: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px 50px;
}

.chessmate-banner-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.chessmate-banner img{
    height: auto;
    max-height: 550px;
    width: auto;
    max-width: 550px;
}



//Smaller screens adapt

//1320
@media screen and (max-width: 1320px) {
}

@media screen and (max-width: 1060px) {

}

//900
@media screen and (max-width: 900px) {
    .chessmate-banner img{
        max-height: 400px;
        max-width: 380px;
    }
}

//600
@media screen and (max-width: 600px) {
    .chessmate-banner img{
        max-height: 210px;
        max-width: 210px;
    }
}