.moko-container{
    display: block;
}

.moko-banner-container{
    background-color: #FBB149;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moko-banner{
    line-height: normal;
    display: flex;
    margin: var(--margin-banner);
}

.moko-banner-headings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //margin-left: 50px;
}

.moko-banner-heading1{
    margin-bottom: 10px;
    font-size: 65px;
    font-weight: 600;
    display: flex;
}

.moko-banner-heading1 p{
    margin-bottom: 10px;
    margin-right: 5px;
}

.moko-banner-heading2{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 58px;
    margin-right: 20px;
    font-weight: 500;
}

.moko-banner-img{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: 10px;
}

.moko-banner img{
    height: auto;
    max-height: 400px;
    width: auto;
    max-width: 400px;
    //padding-right: 50px;
}

.moko-title{
    font-size: var(--title-size);
    margin-bottom: var(--title-margin-bottom);
}

//Smaller screens adapt

//1320
@media screen and (max-width: 1320px) {
}

@media screen and (max-width: 1060px) {
    .moko-banner-heading1{
        font-size: 55px;
    }
    .moko-banner-heading2{
        font-size: 45px;
    }
}

//900
@media screen and (max-width: 900px) {
    .moko-banner{
        flex-direction: column;
    }

    .moko-banner-headings{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 0px;
    }

    .moko-banner-heading1{
        font-size: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .moko-banner img{
        height: auto;
        max-height: 260px;
        width: auto;
        max-width: 260px;
    }
}

//600
@media screen and (max-width: 600px) {
    .moko-banner-heading1{
        font-size: 35px;
    }

    .moko-banner img{
        max-height: 210px;
        max-width: 210px;
    }

    .moko-banner-heading2{
        font-size: 28px;
    }
}