.moko-container{
    font-size: var(--font-size);
    align-items: center;
    justify-content: center;
    line-height: var(--line-height);
}

.moko-banner-container{
    background-color: #FBB149;
}

.moko-banner{
    line-height: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
}

.moko-banner-headings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //margin-left: 50px;
}

.moko-banner-heading1{
    margin-bottom: 10px;
    font-size: 70px;
    display: flex;
}

.moko-banner-heading1 p{
    margin-bottom: 10px;
}

.moko-banner-heading2{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 60px;
    margin-right: 20px;
}

.moko-banner-img{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: 10px;
}

.moko-banner img{
    height: auto;
    max-height: 400px;
    width: auto;
    max-width: 400px;
    //padding-right: 50px;
}

.moko-inspo-container{
    background-color:  var(--moko-colour);
    display: flex;
    align-items: center;
    justify-content: center;
}

.moko-inspo{
    max-width: var(--max-width);
    display: flex;
    margin: var(--margin);
    align-items: center;
    justify-content: center;
}

.moko-inspo-column{
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.moko-title{
    font-size: var(--title-size);
    margin-bottom: var(--title-margin-bottom);
}

.moko-inspo-img{
    max-height: 270px;
    margin-left: 10px;
}

.moko-inspo-banner p{
    margin: 10px;
}

.moko-desc-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.moko-desc{
    margin: var(--margin);
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
}

.moko-desc-container-column{
    display: flex;
    flex-direction: row;
}

.moko-desc-container-buy{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.moko-desc-buy{
    margin-top: 20px;
    margin-right: 20px;
}

.moko-desc-buy-img{
    //margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.moko-desc-buy-img img{
    height: auto;
    max-height: 350px;
    width: auto;
    max-width: 350px;
    padding-left: 50px;
}

.moko-desc-container-sell{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.moko-desc-sell-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.moko-desc-sell-img img{
    height: auto;
    max-height: 350px;
    width: auto;
    max-width: 350px;
    padding-right: 50px;
}

.moko-tech-container{
    background-color: var(--moko-colour);
    display: flex;
    align-items: center;
    justify-content: center;
}

.moko-tech{
    max-width: var(--max-width);
    margin: var(--margin);
    display: flex;
    justify-content: center;
    align-items: center;
}

.moko-tech-column{
    display: flex;
    flex-direction: column;
    margin-right: 38px;
}

.moko-tech-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.moko-tech-desc{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    justify-content: flex-start;
    align-items: flex-start;
}

.moko-tech-front{
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.moko-tech-back{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.moko-tech-label{
    width: 253px;
    height: 45px;
    background: var(--moko-label);
    border-radius: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.moko-leaf{
    height: auto;
    max-height: 50px;
    width: auto;
    max-width: 50px;
    padding-left: 10px;   
}


//Smaller screens adapt

//1320
@media screen and (max-width: 1320px) {
    .moko-inspo-column{
        margin-right: 20px;
    }

    .moko-desc-buy-img img{
        max-height: 300px;
        max-width: 300px;
        padding: 15px;
    }

    .moko-desc-buy{
        margin-left: 0px;
    }

    .moko-tech-column{
        margin-right: 0px;
    }

    .moko-desc-sell{
        margin-right: 0px;
    }

    .moko-title{
        line-height: normal;
    }

    .moko-desc-sell-img img{
        max-height: 300px;
        max-width: 300px;
        padding: 15px;
    }

    .moko-tech-desc{
        margin-left: 0px;
    }

    .moko-tech-front{
        margin-right: 40px;
    }
}

@media screen and (max-width: 1060px) {
    .moko-banner-heading1{
        font-size: 55px;
    }
    .moko-banner-heading2{
        font-size: 45px;
    }

    .moko-inspo-column{
        margin-right: 10px;
    }

    .moko-inspo-img img{
        width: auto;
        height: auto;
        max-height: 300px;
        max-width: 300px;
    }

    .moko-desc-buy-img img{
        max-height: 300px;
        max-width: 300px;
        padding: 10px;
    }

    .moko-desc-buy{
        margin-right: 0px;
    }

    .moko-desc-sell-img img{
        max-height: 300px;
        max-width: 300px;
        padding: 10px;
    }

    .moko-sell-buy{
        margin-left: 0px;
    }

    .moko-desc-container-sell{
        margin-left: 20px;
    }

    .moko-tech-front{
        margin-right: 30px;
    }

    .moko-leaf{
        height: auto;
        max-height: 35px;
        width: auto;
        max-width: 35px;
        padding-left: 10px;   
    }
}

//900
@media screen and (max-width: 900px) {
    .moko-banner{
        flex-direction: column;
    }

    .moko-banner-headings{
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }

    .moko-banner-heading1{
        font-size: 50px;
    }

    .moko-banner img{
        height: auto;
        max-height: 260px;
        width: auto;
        max-width: 260px;
    }

    .moko-inspo{
        flex-direction: column;
        text-align: center;
    }

    .moko-inspo-column{
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        align-items: center;
        justify-content: center;
    }

    .moko-inspo-banner{
        margin: 0px;
        margin-top: 30px;
    }

    .moko-desc{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .moko-desc-desc-buy{
        flex-direction: column-reverse;
    }

    .moko-desc-buy-img img{
        align-items: center;
        justify-content: center;
        padding: 8px;
    }

    .moko-desc-buy-img img{
        max-height: 210px;
        max-width: 210px;
    }


    .moko-desc-sell-img img{
        max-height: 210px;
        max-width: 210px;
    }

    .moko-desc-desc-sell{
        flex-direction: column;
    }

    .moko-desc-sell-img img{
        align-items: center;
        justify-content: center;
        padding: 8px;
    }

    .moko-desc-sell{
        margin-right: 0px;
    }

    .moko-desc-container-sell{
        margin-left: 10px;
    }
    
    .moko-tech{
        flex-direction: column;
    }

    .moko-tech-column{
        margin-right: 0px;
        justify-content: center;
        align-items: center;
    }

    .moko-tech-desc{
        margin-top: 10px;
        margin-left: 0px;
        justify-content: center;
    }
    
}

//600
@media screen and (max-width: 600px) {

    .moko-banner-headings{
        text-align: center;
    }

    .moko-banner-heading1{
        font-size: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .moko-banner img{
        max-height: 210px;
        max-width: 210px;
    }

    .moko-banner-heading2{
        font-size: 28px;
    }

    .moko-inspo{
        flex-direction: column;
        text-align: center;
    }

    .moko-inspo-column{
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        align-items: center;
        justify-content: center;
    }

    .moko-desc{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .moko-desc-container-column{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .moko-desc-container-buy{
        width: 100%;
        flex-direction: column;
    }

    .moko-desc-buy-img{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .moko-desc-buy-img img{
        padding: 5px;
        max-height: 200px;
        max-width: 200px;
    }

    .moko-desc-buy{
        margin-left: 0px;
    }

    .moko-desc-container-sell{
        width: 100%;
        flex-direction: column-reverse;
        margin-bottom: 0px;
    }

    .moko-desc-sell-img{
        margin-top: 20px;
    }

    .moko-desc-sell-img img{
        padding: 5px;
        max-height: 200px;
        max-width: 200px;
    }
    
    .moko-tech{
        flex-direction: column;
    }

    .moko-tech-column{
        margin-right: 0px;
        justify-content: center;
        align-items: center;
    }

    .moko-tech-desc{
        margin-top: 10px;
        margin-left: 0px;
        
        justify-content: center;
        flex-direction: column;
    }

    .moko-tech-front{
        margin-right: 0px;
        padding-bottom: 30px;
    }
    
}