.patientviz-container{
    display: block;
}

.patientviz-banner-container{
    background-color: #868FC6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.patientviz-banner{
    line-height: normal;
    display: flex;
    margin: var(--margin-banner);
}

.patientviz-banner-headings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.patientviz-banner-heading1{
    color: white ;
    margin-bottom: 10px;
    font-size: 65px;
    font-weight: bold;
}

.patientviz-banner-heading2{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 500;
}

.patientviz-banner-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.patientviz-banner-img img{
    height: auto;
    max-height: 400px;
    width: auto;
    max-width: 400px;
}

.patientviz-title{
    font-size: var(--title-size);
    margin-bottom: var(--title-margin-bottom);
}

//Smaller screens adapt


//1320
@media screen and (max-width: 1320px) {
}

@media screen and (max-width: 1060px) {
}

//900
@media screen and (max-width: 900px) {
    .patientviz-banner{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .patientviz-banner-headings{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 0px;
        margin-top: 20px;
    }

    .patientviz-banner-heading1{
        font-size: 60px;
    }

    .patientviz-banner-heading2{
        font-size: 45px;
    }

    .patientviz-banner-img{
        margin-right: 0px;
    }

    .patientviz-banner img{
        max-height: 260px;
        max-width: 260px;
        padding-right: 0px;
    }
}

//600
@media screen and (max-width: 600px) {
    .patientviz-banner-heading1{
        font-size: 45px;
    }

    .patientviz-banner-heading2{
        font-size: 35px;
        margin-bottom: 0;
    }

    .patientviz-banner img{
        max-height: 210px;
        max-width: 210px;
        padding-right: 0px;
    }
}