.patientviz-container{
    font-size: var(--font-size);
    align-items: center;
    justify-content: center;
    line-height: var(--line-height);
}

.patientviz-banner-container{
    background-color: #868FC6;
}

.patientviz-banner{
    line-height: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
}

.patientviz-banner-headings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.patientviz-banner-heading1{
    color: white ;
    margin-bottom: 10px;
    font-size: 70px;
    font-weight: bold;
}

.patientviz-banner-heading2{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 50px;
}

.patientviz-banner-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

.patientviz-banner img{
    height: auto;
    max-height: 450px;
    width: auto;
    max-width: 450px;
    padding-right: 50px;
}

.patientviz-inspo-container{
    background-color:  var(--patientviz-colour);
    display: flex;
    align-items: center;
    justify-content: center;
}

.patientviz-inspo{
    max-width: var(--max-width);
    display: flex;
    margin: var(--margin);
    align-items: center;
    justify-content: center;
}

.patientviz-inspo-column{
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.patientviz-title{
    font-size: var(--title-size);
    margin-bottom: var(--title-margin-bottom);
}

.patientviz-inspo-img img{
    height: auto;
    max-height: 350px;
    width: auto;
    max-width: 450px;
    padding-left: 50px;
}

.patientviz-inspo-banner p{
    margin: 10px;
}

.patientviz-desc-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.patientviz-desc{
    margin: var(--margin);
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
}

.patientviz-desc-container-column{
    display: flex;
    flex-direction: row;
}

.patientviz-desc-container-desc1{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.patientviz-desc-desc1{
    margin-top: 20px;
}

.patientviz-desc-desc1-img{
    //margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.patientviz-desc-desc1-img img{
    height: auto;
    max-height: 450px;
    width: auto;
    max-width: 450px;
    //padding-left: 50px;
}

.patientviz-desc-container-desc2{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.patientviz-desc-desc2-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.patientviz-desc-desc2-img img{
    height: auto;
    max-height: 450px;
    width: auto;
    max-width: 450px;
    //padding-right: 50px;
}

.patientviz-tech-container{
    background-color: var(--patientviz-colour);
    display: flex;
    align-items: center;
    justify-content: center;
}

.patientviz-tech{
    max-width: var(--max-width);
    margin: var(--margin);
    display: flex;
    justify-content: center;
    align-items: center;
}

.patientviz-tech-column{
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.patientviz-tech-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.patientviz-tech-desc{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    justify-content: flex-start;
    align-items: flex-start;
}

.patientviz-tech-front{
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.patientviz-tech-back{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.patientviz-tech-label{
    width: 253px;
    height: 45px;
    background: var(--patientviz-label);
    border-radius: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

//Smaller screens adapt


//1320
@media screen and (max-width: 1320px) {
    .patientviz-banner-headings{
        margin-left: 25px;
    }

    .patientviz-banner-img img{
        padding-right: 0px;
    }

    .patientviz-inspo-column{
        margin-right: 10px;
    }

    .patientviz-inspo-img img{
        padding-left: 15px;
    }

    .patientviz-desc-container-desc2{
       margin-left: 10px;
    }

    .patientviz-desc-desc1-img img{
        max-height: 350px;
        max-width: 350px;
    }

    .patientviz-title{
        line-height: normal;
    }

    .patientviz-desc-desc2-img img{
        max-height: 350px;
        max-width: 350px;
    }

    .patientviz-tech-column{
        margin-right: 0px;
    }

    .patientviz-tech-desc{
        margin-left: 0px;
    }

    .patientviz-tech-front{
        margin-right: 40px;
    }
}

@media screen and (max-width: 1060px) {
    .patientviz-banner-img{
        margin-right: 70px;
    }

    .patientviz-inspo-column{
        margin-right: 10px;
    }

    .patientviz-inspo-img img{
        max-height: 300px;
        max-width: 300px;
        padding-left: 20px;
    }

    .patientviz-desc-desc1-img img{
        padding: 10px;
    }

    .patientviz-desc-desc2-img img{
        padding: 10px;
    }

    .patientviz-desc2-desc1{
        margin-left: 0px;
    }

    .patientviz-desc-container-desc2{
        margin-left: 20px;
    }

    .patientviz-tech-front{
        margin-right: 30px;
    }
}

//900
@media screen and (max-width: 900px) {
    .patientviz-banner{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .patientviz-banner-headings{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 0px;
    }

    .patientviz-banner-img{
        margin-right: 0px;
    }

    .patientviz-banner img{
        max-height: 260px;
        max-width: 260px;
        padding-right: 0px;
    }

    .patientviz-inspo{
        flex-direction: column;
        text-align: center;
    }

    .patientviz-inspo-column{
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        align-items: center;
        justify-content: center;
    }

    .patientviz-inspo-img{
        margin: 0px;
        margin-top: 30px;
    }

    .patientviz-inspo-img img{
        padding-left: 0px;
        max-height: 350px;
        max-width: 350px;
    }

    .patientviz-desc-container{
        flex-direction: column;
    }

    .patientviz-desc{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .patientviz-desc-container-column{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .patientviz-desc-container-desc1{
        width: 100%;
        flex-direction: column;
        margin: 0px;
    }

    .patientviz-desc-desc1-img{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .patientviz-desc-desc1-img img{
        max-height: 400px;
        max-width: 400px;
    }

    .patientviz-desc-container-desc2{
        width: 100%;
        flex-direction: column-reverse;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .patientviz-desc-desc2-img{
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .patientviz-desc-desc2-img img{
        max-height: 400px;
        max-width: 400px;
    }
    
    .patientviz-tech{
        flex-direction: column;
    }

    .patientviz-tech-column{
        margin-right: 0px;
        justify-content: center;
        align-items: center;
    }

    .patientviz-tech-desc{
        margin-top: 10px;
        margin-left: 0px;
        justify-content: center;
    }  
}

//600
@media screen and (max-width: 600px) {

    .patientviz-banner{
        align-items: center;
        justify-content: center;
    }

    .patientviz-banner-headings{
        text-align: center;
    }

    .patientviz-banner-heading1{
        font-size: 45px;
    }

    .patientviz-banner-heading2{
        font-size: 35px;
    }

    .patientviz-banner img{
        max-height: 210px;
        max-width: 210px;
        padding-right: 0px;
    }

    .patientviz-inspo{
        flex-direction: column;
        text-align: center;
    }

    .patientviz-inspo-img img{
        max-height: 250px;
        max-width: 250px;
        padding-left: 0px;
    }

    .patientviz-inspo-column{
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        align-items: center;
        justify-content: center;
    }

    .patientviz-desc{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .patientviz-desc-container-column{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .patientviz-desc-container-desc1{
        width: 100%;
        flex-direction: column;
    }

    .patientviz-desc-desc1-img{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .patientviz-desc-desc1-img img{
        max-height: 300px;
        max-width: 300px;
    }

    .patientviz-desc-desc1{
        margin-left: 0px;
    }

    .patientviz-desc-container-desc2{
        width: 100%;
        flex-direction: column-reverse;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .patientviz-desc-desc2-img{
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .patientviz-desc-desc2-img img{
        max-height: 300px;
        max-width: 300px;
    }
    
    .patientviz-tech{
        flex-direction: column;
    }

    .patientviz-tech-column{
        margin-right: 0px;
        justify-content: center;
        align-items: center;
    }

    .patientviz-tech-desc{
        margin-top: 10px;
        margin-left: 0px;
        justify-content: center;
        flex-direction: column;
    }

    .patientviz-tech-front{
        margin-right: 0px;
        padding-bottom: 30px;
    }
    
}