.patientviz-container{
    font-size: var(--font-size);
    align-items: center;
    justify-content: center;
    line-height: var(--line-height);
}

.patientviz-banner-container{
    background-color: #868FC6;
}

.patientviz-banner{
    line-height: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
}

.patientviz-banner-headings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.patientviz-banner-heading1{
    color: white ;
    margin-bottom: 10px;
    font-size: 70px;
    font-weight: bold;
}

.patientviz-banner-heading2{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 50px;
}

.patientviz-banner-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

.patientviz-banner img{
    height: auto;
    max-height: 450px;
    width: auto;
    max-width: 450px;
    padding-right: 50px;
}

.patientviz-inspo-container{
    background-color:  var(--patientviz-colour);
    display: flex;
    align-items: center;
    justify-content: center;
}

.patientviz-inspo{
    max-width: var(--max-width);
    display: flex;
    margin: var(--margin);
    align-items: center;
    justify-content: center;
}

.patientviz-inspo-column{
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.patientviz-title{
    font-size: var(--title-size);
    margin-bottom: var(--title-margin-bottom);
}

.patientviz-inspo-img img{
    height: auto;
    max-height: 350px;
    width: auto;
    max-width: 450px;
    padding-left: 50px;
}

.patientviz-inspo-banner p{
    margin: 10px;
}

.patientviz-desc-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.patientviz-desc{
    margin: var(--margin);
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
}

.patientviz-desc-container-column{
    display: flex;
    flex-direction: row;
}

.patientviz-desc-container-desc1{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.patientviz-desc-desc1{
    margin-top: 20px;
    margin-right: 20px;
}

.patientviz-desc-desc1-img{
    //margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.patientviz-desc-desc1-img img{
    height: auto;
    max-height: 450px;
    width: auto;
    max-width: 450px;
    padding-left: 50px;
}

.patientviz-desc-container-desc2{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.patientviz-desc-desc2-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.patientviz-desc-desc2-img img{
    height: auto;
    max-height: 450px;
    width: auto;
    max-width: 450px;
    padding-right: 50px;
}

.patientviz-tech-container{
    background-color: var(--patientviz-colour);
    display: flex;
    align-items: center;
    justify-content: center;
}

.patientviz-tech{
    max-width: var(--max-width);
    margin: var(--margin);
    display: flex;
    justify-content: center;
    align-items: center;
}

.patientviz-tech-column{
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.patientviz-tech-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.patientviz-tech-desc{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    justify-content: flex-start;
    align-items: flex-start;
}

.patientviz-tech-front{
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.patientviz-tech-back{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.patientviz-tech-label{
    width: 253px;
    height: 45px;
    background: var(--patientviz-label);
    border-radius: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.patientviz-prizes-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.patientviz-prizes{
    max-width: var(--max-width);
    margin: var(--margin);
    display: flex;
    align-items: center;
    justify-content: center;
}

.patientviz-prizes-column{
    display: flex;
    flex-direction: column;
    margin-right: 140px;
}

.patientviz-prize-img{
    margin-left: 140px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


//Smaller screens adapt