.home-banner{
    background-image: url('/Home-background.jpg');
    background-size: cover;
    display: flex;
    flex-direction: row;
    padding: 50px 70px;
    justify-self: center;
}

.home-intro{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-self: center;
}

.home-intro-title{
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 0px;
    margin-bottom: 10px;
}

.home-intro-subtitle{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
}

.home-intro-contact{
    margin-top: 40px;
    display: flex;
    gap: 15px;
}

.home-icons{
    color:black;
    height: 40px;
    width: 40px;
    padding-left: 15px;
    transition: color 0.3s; 
}

.home-icons:hover {
    color: #AC626F;
}

.home-img-container{
    margin-left: 10px;
    align-self: center;
}

.home-img {
    max-width: 550px;
}

.home-about{
    max-width: var(--max-width);
    margin: auto; 
    padding: 30px 90px;
}

.home-about-text{
    margin: 10px 0px;
    margin-bottom: 40px;
}

.home-about-subtitle{
    font-size: 25px;
    font-weight: 450;
    font-family: "Advent Pro";
}

.home-timeline{
    margin: 20px 0px;
}

.home-timeline-item {
    margin-bottom: 30px;
}

ul.home-timeline{
    list-style-type: none;
    position: relative;
    padding-left: 35px;
    margin-bottom: 60px;
}

ul.home-timeline::before{
    content: " ";
    background: black;
    display: inline-block;
    position: absolute;
    left: 0px;
    width: 1px;
    top: 4px;
    height: 100%;
    z-index: 400;
}

li.home-timeline-item::before{
    content: " ";
    background: #AC626F;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid black;
    left: -13px;
    width: 25px;
    height: 25px;
    margin-top: 3px;
    z-index: 400;
}

.home-skills{
    background-color: #D9B6BA;
    max-width: none;
}

.home-skills-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.home-skills-item{
    border-radius: 5px;
    padding: 16px 32px;
    margin-bottom: 24px;
    margin-right: 24px;
    font-size: 1.5rem;
    background: rgba(153,153,153,.2);
    border-radius: 5px;
    font-weight: 600;
    color: #666;
}

@media screen and (min-width: 1600px) {
    .home-intro{
        width: 1000px;
        margin-left: auto;
    }
    
    .home-img-container{
        width: 600px;
        margin-right: auto;
    }

}

@media screen and (max-width: 1150px) {
    .home-intro-title{
        font-size: 2.2rem;
    }
    
    .home-intro-subtitle{
        font-size: 1.3rem;
    }

    .home-img{
        max-width: 470px;
    }

    .home-intro-contact{
        margin-top: 20px;
    }

}


@media screen and (max-width: 900px) {
    .home-intro-title{
        font-size: 1.8rem;
    }
    
    .home-intro-subtitle{
        font-size: 1.1rem;
        margin-top: 10px;
    }

    .home-img{
        max-width: 280px;
    }

    .home-intro-contact{
        margin-top: 10px;
    }

    .home-icons{
        height: 35px;
        width: 35px;
    }

    .home-about-text{
        text-align: center;
     }
}

@media screen and (max-width: 600px) {
    .home-banner{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 40px 40px;
    }

    .home-intro{
        align-items: center;
    }
    
    .home-intro-title{
        font-size: 2rem;
        margin: 20px 0px;
    }
    
    .home-intro-subtitle{
        font-size: 1.1rem;
    }

    .home-img-container{
        display: none
    }

    .home-about{
        max-width: 1400px; 
        margin: auto; 
        padding: 30px 50px;
    }

    .home-about-text{
       text-align: center;
    }

    .home-about-subtitle{
        font-size: 22px;
        font-weight: 450;
    }
}

@media screen and (max-width: 450px) {
    

    .home-banner{
        padding: 40px 20px;
    }

    .home-intro-title{
        font-size: 1.8rem;
        margin: 0px 0px;
    }

    .home-intro-subtitle{
        font-size: 1.0rem;
    }


    .home-about{
        max-width: 1400px; 
        margin: auto; 
        padding: 30px 30px;
    }

    .home-about-text{
        margin: 20px 0px;
        margin-bottom: 40px;
    }
    
    .home-about-subtitle{
        font-size: 24px;
    }

    ul.home-timeline::before{
        top: 7px;
    }
    
    li.home-timeline-item::before{
        width: 18px;
        height: 18px;
        left: -11px;
        margin-top: 7px;
        z-index: 400;
    }

    ul.home-timeline{
        padding-left: 20px;
    }

}