.home-container{
    min-height: 100vh;
}

.home-image{
 background-image: url('/sofia.jpeg');   
 background-size: cover;
 background-position: center;
}

.home-about-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    justify-content: center;
    font-size: 18px;
}

.home-writing{
    text-align: center;
}

.home-contact{
    background-color: #ddd4d4;
    padding: 25px 50px;
    text-align: center;
} 

.home-icons{
    color:black;
    height: 30px;
    width: 30px;
    padding-left: 9px;
}