/*TECH CSS*/

.project-tech-container{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.project-tech{
    max-width: var(--max-width);
    margin: var(--margin);
    z-index: 1;
    width: 100%;
}

.project-tech-wrap1{
    display: flex;
}

.project-tech-column{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.project-tech-wrap2{
    flex-grow: 1;
}

.project-tech-img{
    display: flex;
    justify-content: center;
}

.project-tech-desc{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    justify-content: flex-start;
    align-items: center;
}

.project-tech-front{
    margin-left: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //font-family: 'Advent Pro';

    p{
        font-size: 22px;
        font-weight: 600;
        margin: 0px;
    }
}

.project-tech-label{
    width: 235px;
    height: 45px;
    border-radius: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

@media screen and (max-width: 1320px) {
    .project-tech-desc{
        margin-left: 0px;
    }

    .project-tech-front{
        margin-left: 40px;
    }

}

//1060
@media screen and (max-width: 1060px) {
    .project-tech-front{
        margin-left: 30px;
    }

    .project-tech-wrap2{
        margin: 16px 0px 16px 0;
    }

    .project-tech-label{
        width: 210px;
    }

    .project-tech-img img{
        max-width: 280px;
    }
}

@media screen and (max-width: 900px) {
    .project-tech-wrap1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-tech-desc{
        margin-left: 0px;
        justify-content: center;
        align-items: center;
    }

    .project-tech-desc{
        margin-top: 10px;
        margin-left: 0px;
        justify-content: center;
    }

    .project-tech-wrap2{
        margin: 0;
    }

    .project-tech-front{
        margin: 0px 30px;
    }
}

//600
@media screen and (max-width: 600px) {
    .project-tech-desc{
        margin-top: 10px;
        justify-content: center;
        flex-direction: column;
    }

    .project-tech-front{
        margin: 0px;
        padding-bottom: 30px;
    }

}