.sharity-container{
    display: block;
}

.sharity-banner{
    line-height: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 50px 50px;
}

.sharity-banner-headings{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    color: #8D5C66;
}

.sharity-banner-heading1{
    margin-top: 10px;
    margin-bottom: 10px;
}

.sharity-banner-heading2{
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

.sharity-banner-heading3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: 500;
}

.sharity-banner-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
}

.sharity-banner img{
    height: auto;
    max-height: 300px;
    width: auto;
    max-width: 300px;
}


//Smaller screens adapt

//1320
@media screen and (max-width: 1320px) {
    .sharity-banner-headings{
        font-size: 35px;
    }

    .sharity-banner-heading3{
        font-size: 45px;
    }

    .sharity-title{
        line-height: normal;
    }
}

@media screen and (max-width: 1060px) {
    .sharity-banner-headings{
        font-size: 30px;
    }

    .sharity-banner-heading3{
        font-size: 40px;
    }

    .sharity-banner-img{
        margin-left: 50px;
    }
}

//900
@media screen and (max-width: 900px) {
    .sharity-banner{
        flex-direction: column;
    }

    .sharity-banner-headings{
        align-items: center;
        justify-content: center;
    }

    .sharity-banner-img{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }

    .sharity-banner img{
        max-height: 200px;
        max-width: 250px;
        margin-top: 20px;
    }
}

//600
@media screen and (max-width: 600px) {
    .sharity-banner{
        margin: 50px 30px;
    }

    .sharity-banner-headings{
        font-size: 18px;
    }

    .sharity-banner-heading3{
        font-size: 25px;
    }

    .sharity-banner img{
        max-height: 150px;
        max-width: 200px;
        margin-top: 20px;
    }
}