.project-title{
    margin-top: 60px;
    font-size: 40px;
    text-align: center;
}

.project-subtitle{
    font-size: 20px;
    text-align: center;
}

.project-list{
 padding-top: 20px;
 padding-bottom: 20px;
}

.project-list-items{
    display: flex;
    height: 100%;
    flex-direction: column;

}

.project-list-title{
    background-color: rgba(181, 190, 152, 0.4);
}

.project-list-image{
    padding-top: 56.25%, 
}

.project-list-about{
    flex-grow: 1;
    background-color: rgba(181, 190, 152, 0.4);
}


.project-list-action{
    display: flex; 
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color:  rgba(181, 190, 152, 0.4);
}

.project-list-view{
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.details-about p {
    white-space: pre-wrap;
}