.project-container{
    padding: 30px 70px;
}

.project-title{
    text-align: center;
    font-weight: 600;
    font-size: var(--title-size);
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
}

.project-subtitle{
    font-size: 1.125rem; 
    text-align: center;
    font-weight: 500;
    color: #666;
    margin-bottom: 1.25rem;
}

.project-list{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.project-list-items{
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: hidden;

    &:hover {
        transform: scale(1.03);
    }
}

.custom-card-root {
    background-color: #F0F0F0 !important;
    border-radius: 0.2rem !important;
    overflow: hidden !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) !important;
    transition: transform 0.2s ease-in-out !important;
  }

.project-list-image-container {
    position: relative;
    padding-top: 62%;
  }

.project-list-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-list-about{
    flex-grow: 1;
}

.project-list-title{
    font-size: 1.313rem;
    font-weight: 500;
    padding-bottom: 5px;
    margin: 0px;
}

.project-list-desc{
    font-size: 1rem;
    font-weight: 400;
    margin: 0px;
}

.project-list-view{
    color: inherit;;
    text-decoration: none;
}

//Smaller screens adapt
@media screen and (max-width: 1030px){
    .project-container{
        padding: 30px 50px;
    }

    .project-list-title{
        font-size: 1.1rem; 
    }
    
    .project-list-desc{
        font-size: 0.9rem;
    }

}

@media screen and (max-width: 900px){
    .project-container{
        padding: 30px 40px;
    }

    .project-list-title{
        font-size: 1rem;
        font-weight: 500;
    }
    
    .project-list-desc{
        font-size: 0.9rem; 
        font-weight: 400;
    }

}

@media screen and (max-width: 600px){
    .project-title{
        font-size: 30px;
    }

    .project-container{
        padding: 30px 40px;
    }

    .project-list-title{
        font-size: 1.1rem;
        font-weight: 500;
    }
    
    .project-list-desc{
        font-size: 1rem; 
        font-weight: 400;
    }

}

@media screen and (max-width: 450px){
    .project-title{
        font-size: 25px;
    }

    .project-subtitle{
        font-size: 16px;
    }

    .project-container{
        padding: 30px 30px;
    }

    .project-list-title{
        font-size: 0.9rem;
        font-weight: 500;
    }
    
    .project-list-desc{
        font-size: 0.7rem; 
        font-weight: 400;
    }

}