
/*PRIZES CSS*/
.project-prizes-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.project-prizes{
    max-width: var(--max-width);
    margin: var(--margin);
    z-index: 1;
    width: 100%;
}
.project-prizes-wrap1{
    display: flex;
}

.project-prizes-wrap2{
    flex-grow: 1;
}

.project-prizes-column{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0px;
}

.project-prizes-desc #title{
    font-weight: 500;
}

.project-prize-img{
    //margin-right: 140px;
    //display: flex;
    //align-items: center;
    //justify-content: flex-end;
    display: flex;
    align-self: center;
}

.project-prizes-icon{
    color: #c99b1d;
    padding-right: 5px;
}

.project-prize-img img{
    max-width: 300px;
}

@media screen and (max-width: 1320px) {
    .project-prize-img{
        //margin-right: 50px;
    }

}

//1060
@media screen and (max-width: 1060px) {
    .project-prizes-column{
        margin-right: 30px;
    }
    
    .project-prize-img{
        margin-left: 30px;
    }
}

//960
@media screen and (max-width: 900px) {
    .project-prizes-wrap1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-prizes-wrap2{
        margin: 0;
        //text-align: center;
    }
    
    .project-prize-img{
        margin-left: 0px;
        justify-content: center;
    }

    .project-prizes-column{
        padding: 0;
        margin: 0;
    }


}

//600
@media screen and (max-width: 600px) {
    .project-prize-img img{
        max-width: 250px;
        max-height: 250px;
    }


}