.project-desc-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-desc{
    margin: var(--margin);
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
}

.project-desc-column{
    display: flex;
    flex-direction: row;
}

.project-desc1-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.project-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

body .slick-next:before, body .slick-prev:before {
    color: #000;
}

body .slick-slider{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 430px;
    margin: 20px;
}

.op-desc-img{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-desc1-img2,
.project-desc1-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

.op-desc-img img,
.project-desc2-img2 img,
.project-desc2-img img,
.project-desc1-img2 img,
.project-desc1-img img{
    height: auto;
    max-height: 350px;
    width: auto;
    max-width: 350px;
}

.project-desc2-img2,
.project-desc2-img{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    align-items: center;
    justify-content:center;
}

//type 2 images can be bigger
.project-desc1-img2 img,
.project-desc2-img2 img{
    max-width: 400px;
}


.project-desc1-img img{
    margin-right: 50px;
}

.project-desc2-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.project-desc2-img img{
    margin-left: 50px;
}

.op-desc-img img,
.renew-desc-img img,
.project-desc2-img2 img,
.project-desc1-img2 img,
.project-desc2-img img,
.project-desc1-img img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  /*Renew*/

.renew-desc-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.renew-desc-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.renew-desc-img img{
    height: auto;
    max-height: 350px;
    width: auto;
    max-width: 350px;
    margin-right: 30px;
}


//Smaller screens adapt
//1320
@media screen and (max-width: 1320px) {

    body .slick-slider{
        max-width: 400px;
        margin: 10px;
    }
    
    
    .renew-desc-img img,
    .project-desc1-img img,
    .project-desc2-img img{
        max-height: 300px;
    }

}

@media screen and (max-width: 1060px) {
    .project-desc1-img img{
        margin-right: 20px;
    }

    .project-desc2-img img{
        margin-left: 20px;
    }

    body .slick-slider{
        max-width: 330px;
    }

    .op-desc-img img{
        max-width: 300px;
    }

    //type 2 images
    .project-desc1-img2 img,
    .project-desc2-img2 img{
        max-width: 350px;
    }
}

//900
@media screen and (max-width: 900px) {
    .project-desc{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .project-desc-column{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-desc1-container{
        width: 100%;
        flex-direction: column;
        margin-right: 0px;
    }

    .project-desc1-img2, 
    .project-desc1-img{
        align-items: center;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .project-desc1{
        margin-right: 0px;
    }

    .project-desc1-img img,
    .project-desc2-img img{
        margin: 5px 20px;
        max-height: 300px;
    }

    .project-desc2-img2, 
    .project-desc2-img{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .project-desc2{
        margin-right: 0px;
    }

    .project-desc2-container{
        width: 100%;
        flex-direction: column-reverse;
        margin-bottom: 0px;
        margin: 0px;
    }

    .project-desc1-img2 img,
    .project-desc2-img2 img{
        margin: 5px 20px;
        max-width: 400px;
    }

    .renew-desc{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .renew-desc-container{
        flex-direction: column-reverse;
    }

    .renew-desc-img img{
        align-items: center;
        justify-content: center;
        margin: 20px;
    }

    body .slick-slider{
        max-width: 380px;
    }

    .op-desc-img img{
        max-width: 350px;
        max-height: 300px;
    }

}

//600
@media screen and (max-width: 600px) {
    .renew-desc-img img,
    .project-desc1-img img,
    .project-desc2-img img{
        margin: 5px 5px;
        max-height: 200px;
    }

    .project-desc1-img2 img,
    .project-desc2-img2 img{
        margin: 5px 5px;
        max-width: 250px;
    }

    body .slick-slider{
        max-width: 220px;
    }

    .op-desc-img img{
        max-width: 210px;
        max-height: 200px;
    }

    body .slick-prev:before, body .slick-next:before {
        font-size: 15px;
    }
}