.renew-container{
    display: block;
}

.renew-banner-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #BDBBB6;
    //background-image: url('/renew/vector1.png');
    object-fit: cover;
    background-size: contain;
    background-repeat: no-repeat;
}

.renew-banner{
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
}

.renew-banner-headings{
    display: flex;
    flex-direction: column;
    font-size: 60px;
    margin-left: 50px;
}

.renew-banner-heading1{
    margin-top: 80px;
    margin-bottom: 10px;
    color: #4A6FA5;
}

.renew-banner-heading2{
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 50px;
}

.renew-banner-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.renew-banner img{
    height: auto;
    max-height: 300px;
    width: auto;
    max-width: 300px;
    padding-right: 50px;
}

.renew-title{
    font-size: var(--title-size);
    margin-bottom: var(--title-margin-bottom);
}

.renew-tech-container{
    background-color: var(--renew-colour);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/renew/vector3.png');
    object-fit: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.renew-prizes-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/renew/vector4.png');
    object-fit: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

//Smaller screens adapt


//1320
@media screen and (max-width: 1320px) {
    .renew-banner-headings{
        font-size: 50px;
    }

    .renew-banner-heading2{
        font-size: 40px;
    }
}

@media screen and (max-width: 1060px) {
    .renew-banner-headings{
        font-size: 35px;
        margin-left: 25px;
    }

    .renew-banner-heading2{
        font-size: 25px;
    }
}

//900
@media screen and (max-width: 900px) {
    .renew-banner{
        flex-direction: column;
    }

    .renew-banner-headings{
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        text-align: center;
    }

    .renew-banner-heading1{
        margin-top: 40px;
    }

    .renew-banner-heading2{
        margin-top: 30px;
    }

    .renew-banner-img{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }

    .renew-banner img{
        height: auto;
        max-height: 250px;
        width: auto;
        max-width: 250px;
        padding-right: 0px;
    }
}

//600
@media screen and (max-width: 600px) {

    .renew-banner-headings{
        font-size: 25px;
        text-align: center;
    }

    .renew-banner-heading2{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .renew-banner img{
        height: auto;
        max-height: 200px;
        width: auto;
        max-width: 200px;
        margin-top: 10px;
    }
}