.details-container{
    margin: 70px;
    text-align: justify;
    margin-bottom: 40px;
    //font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.details-title{
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.details-row{
    display: flex;
    align-items: center;
    //justify-content: center;
}

.details-photo img{
    height: auto;
    max-height: 250px;
    width: auto;
    max-width: 250px;
}

.details-overview{
    padding-left: 20px;
}

.details-about{

}

.details-heading{
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight:bold;
}

.details-code{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-git{
    color:black;
    size: 20px;
    height: 35px;
    width: 35px;
    padding-left: 8px;
}

@media screen and (max-width: 600px) {
    .details-container{
        margin: 20px;
    }

    .details-row{
        align-items: center;
        justify-content: center;
    }

    .details-photo {
       display: none;
    }

    .details-overview{
        width: 100%;
        padding-left: 0px;
    }
    
}